## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100), k=80)
# Your code here

sample_list_1 = random.sample(range(0, 101), 80)
print(sample_list_1)

[13, 5, 22, 38, 4, 47, 44, 28, 76, 95, 70, 63, 75, 36, 29, 46, 77, 74, 83, 8, 35, 81, 73, 26, 33, 45, 40, 64, 60, 79, 92, 89, 78, 52, 99, 49, 88, 65, 34, 51, 0, 97, 27, 20, 7, 66, 57, 14, 16, 43, 59, 53, 55, 56, 31, 41, 62, 48, 87, 61, 12, 24, 39, 23, 42, 67, 32, 85, 2, 93, 84, 19, 9, 25, 11, 15, 54, 96, 82, 71]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Gets the count of the unique values

set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0, 100))

print(sample_list_2)

[84, 6, 21, 15, 83, 68, 1, 13, 81, 77, 37, 59, 7, 37, 8, 61, 34, 31, 14, 60, 90, 80, 21, 54, 69, 95, 19, 22, 2, 95, 43, 94, 57, 93, 27, 2, 65, 95, 60, 41, 71, 57, 71, 100, 8, 65, 58, 30, 42, 71, 10, 75, 30, 59, 74, 31, 69, 74, 63, 36, 24, 69, 84, 27, 80, 27, 74, 38, 40, 37, 90, 53, 46, 7, 95, 36, 46, 80, 4, 55]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here

set3 = set1.difference(set2)
print(set3)
print(len(set3))

{0, 5, 9, 11, 12, 16, 20, 23, 25, 26, 28, 29, 32, 33, 35, 39, 44, 45, 47, 48, 49, 51, 52, 56, 62, 64, 66, 67, 70, 73, 76, 78, 79, 82, 85, 87, 88, 89, 92, 96, 97, 99}
42

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here

set4 = set2.difference(set1)
print(set4)
print(len(set4))

{1, 68, 37, 6, 69, 90, 100, 10, 80, 21, 94, 58, 30}
13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here

set5 = set1.intersection(set2)
print(set5)
print(len(set5))

{2, 4, 7, 8, 13, 14, 15, 19, 22, 24, 27, 31, 34, 36, 38, 40, 41, 42, 43, 46, 53, 54, 55, 57, 59, 60, 61, 63, 65, 71, 74, 75, 77, 81, 83, 84, 93, 95}
38

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
# Your code here

len_set1 = len(set1)
len_set2 = len(set2)
len_set3 = len(set3)
len_set4 = len(set4)
len_set5 = len(set5)

print(len_set1)
print(len_set2)
print(len_set3)
print(len_set4)
print(len_set5)

# Relationship 1: Total number of elements in 'set1' equals to elements in 'set3' + 'set5'.
print("len(set1) == len(set3) + len(set5):", len_set1 == (len_set3 + len_set5))
# Relationship 2: Total number of elements in 'set2' equals to elements in 'set4' + 'set5'.
print("len(set2) == len(set4) + len(set5):", len_set2 == (len_set4 + len_set5))
# Relationship 3: Total elements from both 'set1' and 'set2' should be equal to total count of unique elements plus duplicates.
print("len(set1) + len(set2) == len(set3) + len(set4) + 2*len(set5):", len_set1 + len_set2 == (len_set3 + len_set4 + 2*len_set5))

80
51
42
13
38
len(set1) == len(set3) + len(set5): True
len(set2) == len(set4) + len(set5): True
len(set1) + len(set2) == len(set3) + len(set4) + 2*len(set5): True

#### Create an empty set called `set6`.

In [18]:
# Your code here

set6 = set()
print(set6)
print(type(set6))

set()
<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [20]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)
print(type(set6))

{0, 2, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 70, 71, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 87, 88, 89, 92, 93, 95, 96, 97, 99}
<class 'set'>

#### Check if `set1` and `set6` are equal.

In [21]:
# Your code here

if set1 == set6:
    print("Both set1 and set6 are equal!")
else:
    print("Both set1 and set6 are different!")

Both set1 and set6 are equal!

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [25]:
# Your code here

is_subset2 = set2.issubset(set1)
if is_subset2 == True:
    print("Yes, 'set1' contains 'set2'.")
else:
    print("No, 'set1' doesn't contain 'set2'.")

is_subset3 = set3.issubset(set1)
if is_subset3 == True:
    print("Yes, 'set1' contains 'set3'.")
else:
    print("No, 'set1' doesn't contain 'set3'.")

No, 'set1' doesn't contain 'set2'.
Yes, 'set1' contains 'set3'.

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [27]:
# Your code here

union1 = set3.union(set4, set5)
union2 = set1.union(set2)

print(union1)
print(union2)

if union1 == union2:
    print("Aggregated values are equal!")
else:
    print("Aggregated values are different!")

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100}
{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100}
Aggregated values are equal!

#### Using the `pop` method, remove the first element from `set1`.

In [46]:
# your code here

first_element = set1.pop()
print(first_element)
print(type(first_element))

0
<class 'int'>

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [48]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    set1.discard(i)

print("The remaining elements in 'set1' are:", set1)
print(len(set1))
print(len(list_to_remove))

The remaining elements in 'set1' are: {2, 4, 5, 7, 8, 12, 13, 14, 15, 16, 20, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 52, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 70, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 87, 88, 92, 93, 95, 96, 97}
63
20