# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [2]:
# pip install openpyxl
# In case there is an error with this .xlsx document opening, install this library

In [3]:
import pandas as pd
import numpy as np

In [4]:
elteams = pd.read_csv("actual.csv")
ecteams = pd.read_excel("ec2023.xlsx", index_col=False)

In [5]:
# Your code here: 
df_elteams = pd.DataFrame(elteams)
df_ecteams = pd.DataFrame(ecteams)

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

In [6]:
# EuroCup DataFrame
print(df_ecteams.shape)

print(df_ecteams.info())

df_ecteams.head()

(173, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  173 non-null    int64
 1   fecha       173 non-null    object
 2   ronda       173 non-null    int64
 3   local       173 non-null    object
 4   visitante   173 non-null    object
 5   localscore  173 non-null    int64
 6   roadscore   172 non-null    float64
 7   Winner      173 non-null    object
 8   Ganador     172 non-null    float64
 9   plusminus   172 non-null    float64
dtypes: float64(3), int64(3), object(4)
memory usage: 13.6+ KB
None

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
0,0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0
1,1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0
2,2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0
3,3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0
4,4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0

In [7]:
# EuroCup DataFrame
df_ecteams.isna().value_counts()

Unnamed: 0  fecha  ronda  local  visitante  localscore  roadscore  Winner  Ganador  plusminus
False       False  False  False  False      False       False      False   False    False        172
                                                        True       False   True     True           1
Name: count, dtype: int64

In [8]:
# EuroCup DataFrame - Remove NaNs
df_ecteams.dropna(inplace = True)

In [9]:
# EuroCup DataFrame
df_ecteams.isna().value_counts()

Unnamed: 0  fecha  ronda  local  visitante  localscore  roadscore  Winner  Ganador  plusminus
False       False  False  False  False      False       False      False   False    False        172
Name: count, dtype: int64

In [10]:
# EuroCup DataFrame - Remove Duplicate Rows
df_ecteams.drop_duplicates(inplace = True)
df_ecteams.shape

(170, 10)

In [11]:
# EuroCup DataFrame - Remove Strange Columns
df_ecteams.drop(columns = "Unnamed: 0", inplace = True)
df_ecteams.shape

(170, 9)

Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [12]:
# Your sample ecteams code here: 
df_ecteams.sample(3)

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
20,2024-01-17T21:00:00,15,Dreamland Gran Canaria,Turk Telekom Ankara,73,83.0,Visitante,83.0,-10.0
151,2023-10-17T19:30:00,3,ratiopharm Ulm,7bet-Lietkabelis Panevezys,99,74.0,Local,99.0,25.0
42,2023-12-27T19:00:00,13,Buducnost VOLI Podgorica,U-BT Cluj-Napoca,77,79.0,Visitante,79.0,-2.0

In [13]:
# Your sample elteams code here: 
df_elteams.sample(3)

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
16,Euroleague,Regular Season,2,2023-10-13,20:30:00,Valencia Basket,Fenerbahce Beko Istanbul,77,74,"['JOVCIC, MILIVOJE', 'PANTHER, ANNE', 'ZAMOJSK...",3,Valencia Basket,Local
42,Euroleague,Regular Season,5,2023-10-27,20:00:00,LDLC ASVEL Villeurbanne,Virtus Segafredo Bologna,84,87,"['PUKL,SASA', 'ZAMOJSKI, JAKUB', 'LEZCANO, LEA...",-3,Virtus Segafredo Bologna,Visitante
113,Euroleague,Regular Season,13,2023-12-08,20:30:00,Virtus Segafredo Bologna,Maccabi Playtika Tel Aviv,100,90,"['ROCHA, FERNANDO', 'PASTUSIAK, PIOTR', 'VILIU...",10,Virtus Segafredo Bologna,Local

What are the inconsistencies that you are seeing? Write them down!

- Columns names are in different case (EC in lowercase, and capitalized in EL).
- Columns like "Arbitros" "Competiton" or "Winner" in EL, don't exist in EC.
- Column "fecha" in EC is not split in "Dia" and "Hora" like in EL.
- Column "Ganador" show different type of values between DataFrames.

<details>
    <summary> Expand the box to see the inconsistencies </summary>

- The columns are named in lowercase and the columns in Euroleague are capitalized
- There are some missing columns (f.e. Arbitros)
- Fecha is not split in Dia and Hora
- `Winner and Ganador Columns show different data` are not the same! Be extremely careful about it

</details>

As you can see there are a lot of different inconsistencies right? 
But beofore starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [14]:
# Your code here:
df_ecteams.insert(0, "competition", "Eurocup")
df_ecteams.head()

,competition,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
0,Eurocup,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0
1,Eurocup,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0
2,Eurocup,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0
3,Eurocup,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0
4,Eurocup,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [15]:
# Drop the column Ganador from the Eurocup Dataframe
df_ecteams.drop(columns = "Ganador", inplace = True)
df_ecteams.head()

,competition,fecha,ronda,local,visitante,localscore,roadscore,Winner,plusminus
0,Eurocup,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,-2.0
1,Eurocup,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,-19.0
2,Eurocup,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,-20.0
3,Eurocup,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,-7.0
4,Eurocup,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,-4.0

In [16]:
# Rename the column with the actual information to "Ganador"
df_ecteams.rename(columns = {"Winner" : "Ganador"}, inplace = True)
df_ecteams.head()

,competition,fecha,ronda,local,visitante,localscore,roadscore,Ganador,plusminus
0,Eurocup,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,-2.0
1,Eurocup,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,-19.0
2,Eurocup,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,-20.0
3,Eurocup,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,-7.0
4,Eurocup,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,-4.0

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it?

In [17]:
# Your code here: 
df_ecteams.columns = df_ecteams.columns.str.capitalize()
df_ecteams.head()

,Competition,Fecha,Ronda,Local,Visitante,Localscore,Roadscore,Ganador,Plusminus
0,Eurocup,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,-2.0
1,Eurocup,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,-19.0
2,Eurocup,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,-20.0
3,Eurocup,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,-7.0
4,Eurocup,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,-4.0

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [18]:
# Your code here: 
comp_el = df_elteams[["Competition", "Localscore", "Roadscore", "Plusminus", "Ganador"]]
comp_ec = df_ecteams[["Competition", "Localscore", "Roadscore", "Plusminus", "Ganador"]]

In [19]:
comp_el.sample(1)

    Competition  Localscore  Roadscore  Plusminus Ganador
171  Euroleague          91         76         15   Local

In [20]:
comp_ec.sample(1)

   Competition  Localscore  Roadscore  Plusminus Ganador
46     Eurocup         105      100.0        5.0   Local

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [21]:
# Your code here:
competition = pd.concat([comp_el, comp_ec], axis = 0)

In [22]:
competition.sample(3)

    Competition  Localscore  Roadscore  Plusminus    Ganador
151  Euroleague          67       94.0      -27.0  Visitante
163  Euroleague          93       79.0       14.0      Local
55   Euroleague          86       82.0        4.0      Local

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [23]:
# 1
competition["Competition"].value_counts()

Competition
Euroleague    225
Eurocup       170
Name: count, dtype: int64

In [24]:
# 2
competition.groupby(by = ["Competition"]).agg({"Localscore": "max", "Roadscore": "max"})

             Localscore  Roadscore
Competition
Eurocup             120      114.0
Euroleague          130      126.0

In [25]:
# 3
competition.groupby(by = ["Competition"]).agg({"Localscore": "mean", "Roadscore": "mean"})

             Localscore  Roadscore
Competition
Eurocup       85.235294  83.958824
Euroleague    83.284444  79.173333

In [26]:
# 4
competition["Absolut_Plusminus"] = np.where(competition["Plusminus"] < 0, -competition["Plusminus"], competition["Plusminus"])

competition.groupby(by = ["Competition"]).agg({"Absolut_Plusminus": "max"})

             Absolut_Plusminus
Competition
Eurocup                   39.0
Euroleague                39.0

In [27]:
# 5
competition.groupby(by = ["Competition"]).agg({"Ganador": "value_counts"})

                       Ganador
Competition Ganador
Eurocup     Local           90
            Visitante       80
Euroleague  Local          150
            Visitante       75