# Part 1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
path = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(path, sep="\t")

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = df
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1

chipo.shape

(4622, 5)

In [6]:
# Solution 2

chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
# Solution 1

chipo.shape

(4622, 5)

In [8]:
# Solution 2

chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
most_ordered = chipo.groupby("item_name")["quantity"].sum()
most_ordered

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

In [12]:
most_ordered = chipo.groupby("item_name")["quantity"].sum().idxmax()
print(f"The most ordered item is: {most_ordered}")

The most ordered item is: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [13]:
q_most_ordered = chipo.groupby("item_name")["quantity"].sum().max()
q_most_ordered

761

### Step 11. What was the most ordered item in the choice_description column?

In [14]:
most_ordered_choicedesc = chipo.groupby("choice_description")["quantity"].sum()
most_ordered_choicedesc

choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                 1
[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]                                                                1
[Adobo-Marinated and Grilled Chicken]                                                                                                          1
[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                                1
[Adobo-Marinated and Grilled Steak]                                                                                                            1
                                                                                                                                              ..
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Cheese, Lettuce]]                                2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Lettuce]]                                        1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Cheese, Lettuce]]                                1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]    1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]                        1
Name: quantity, Length: 1043, dtype: int64

In [15]:
most_ordered_choicedesc = chipo.groupby("choice_description")["quantity"].sum().idxmax()
print(f"The most ordered item is: {most_ordered_choicedesc}")

The most ordered item is: [Diet Coke]

### Step 12. How many items were ordered in total?

In [16]:
items_total = chipo["quantity"].sum()
items_total

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [17]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [18]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x.replace("$", "")))
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### Step 13.c. Check the item price type

In [19]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [20]:
chipo["revenue"] = chipo["quantity"]*chipo["item_price"]
total_revenue = chipo["revenue"].sum()

print(f"Total Revenue is: ${total_revenue:.2f}")

Total Revenue is: $39237.02

### Step 15. How many orders were made in the period?

In [21]:
orders_total = chipo["order_id"].nunique()

print(f"Total orders made were: {orders_total}")

Total orders made were: 1834

### Step 16. What is the average revenue amount per order?

In [22]:
# Solution 1

average_rev_order_1 = total_revenue/orders_total

print(f"The average revenue per order is: {average_rev_order_1:.2f}")

The average revenue per order is: 21.39

In [23]:
# Solution 2

### Step 17. How many different items are sold?

In [24]:
diff_items_sold = chipo["item_name"].nunique()

print(f"{diff_items_sold} different items are sold.")

50 different items are sold.

# Part 2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [25]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [26]:
path = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(path, sep="\t")

### Step 3. Assign it to a variable called chipo.

In [27]:
chipo = df
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. How many products cost more than $10.00?

In [28]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x.replace("$", "")))

chipo_more_ten = chipo["item_price"] > 10       # Mask
chipo[chipo_more_ten]                           # Using the mask

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [29]:
chipo["item_name"][chipo_more_ten].nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [30]:
price_each_item = chipo[["item_name", "item_price"]].drop_duplicates()
price_each_item

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [31]:
sorted_items = chipo[["item_name", "item_price"]].drop_duplicates().sort_values(by = "item_name")
sorted_items

              item_name  item_price
3389  6 Pack Soft Drink       12.98
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
3195      Barbacoa Bowl        8.69
95        Barbacoa Bowl        9.25
...                 ...         ...
186   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos       16.98
738   Veggie Soft Tacos       11.25
781   Veggie Soft Tacos        8.75
1395  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [81]:
most_exp = chipo["item_price"].max()
print(most_exp)

condition_1 = chipo["item_price"] == most_exp

chipo[condition_1]["item_name"].count()

44.25

1

In [82]:
# Summarized:

most_exp = chipo["item_price"].max()
most_exp_2 = chipo[chipo["item_price"] == chipo["item_price"].max()]["item_name"].count()

print(f"The most expensive item was ordered {most_exp_2} time, and its price was ${most_exp}")

The most expensive item was ordered 1 time, and its price was $44.25

In [83]:
# Difference with .value_counts():

chipo[chipo["item_price"] == chipo["item_price"].max()]["item_name"].value_counts()

item_name
Chips and Fresh Tomato Salsa    1
Name: count, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [84]:
veggie_salad_bowl = chipo[chipo["item_name"] == "Veggie Salad Bowl"]["item_name"].count()

print(f"A 'Veggie Salad Bowl' was ordered {veggie_salad_bowl} times.")

A 'Veggie Salad Bowl' was ordered 18 times.

In [85]:
# Difference with .value_counts():

chipo[chipo["item_name"] == "Veggie Salad Bowl"]["item_name"].value_counts()

item_name
Veggie Salad Bowl    18
Name: count, dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [86]:
condition_1 = chipo["item_name"] == "Canned Soda"
condition_2 = chipo["quantity"] > 1

chipo[(condition_1) & (condition_2)]["quantity"].count()

20

In [87]:
# Summarized:

times_ordered = chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]["quantity"].count()

print(f"Someone ordered {times_ordered} times, more than one 'Canned Soda'.")

Someone ordered 20 times, more than one 'Canned Soda'.

In [88]:
# Difference with .value_counts():

times_ordered_2 = chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]["quantity"].value_counts()

print(f"Someone ordered {times_ordered_2} times, more than one 'Canned Soda'.")

Someone ordered quantity
2    19
4     1
Name: count, dtype: int64 times, more than one 'Canned Soda'.